name: Sync Leetcode

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 8 * * 6'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Sync
      uses: tanveer-rajeev/leetcode_submission
      with:
        github-token: ${{ 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 }}
        leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
        leetcode-session: ${{ secrets.LEETCODE_SESSION }}
        destination-folder: my-folder
